<div class='add_abbr'>
  <h1> Add Abbreviations </h1>
  <form action="/add_abbr", method="GET">
    <span>Abbreviation: </span>
    <input type="text" name="abbreviation" value="<%=   params[:abbreviation] %>" />
    <span>Full Name: </span>
    <input type="text" name="full_name" value="<%=   params[:full_name] %>" />

    <button onclick="location.href='index'">Home</button>
  </form>
</div>